<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Watermarker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Watermarker.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="suffix" serializeAs="String">
                <value>_wm</value>
            </setting>
            <setting name="watermarkedFolderName" serializeAs="String">
                <value>watermarked</value>
            </setting>
            <setting name="watermarkImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="margin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="watermarkScale" serializeAs="String">
                <value>100</value>
            </setting>
        </Watermarker.Properties.Settings>
    </userSettings>
</configuration>